<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class="card container form-container newPostclip">
  <div>
    <div class="col md-6">
      <h1>Create Postclip</h1>
      <div>
        <form (ngSubmit)="createPostclip(postclip)"  #postclipForm="ngForm" >
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text"
                class="form-control"
                placeholder="Postclip Title"
                required
                name="name"
                #name='ngModel'
                [(ngModel)]="postclip.name"
            >
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" placeholder="Write a short description"
                class="form-control"
                required
                name="description"
                #description='ngModel'
                [(ngModel)]="postclip.description"
            >
          </div>
          <div class="form-group">
            <label for="contentLink">Content</label>
            <input type="text"
                class="form-control"
                id="tools"
                placeholder="Content to share"
                name="contentLink"
                #contentLink='ngModel'
                [(ngModel)]="postclip.contentLink"
            >
          </div>
          <div [hidden]="content.valid" id="alert"
          class="alert alert-danger">
              Any fields cannot be empty
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg"
          [disabled]="!postclipForm.form.valid"
          [hidden]="submitted">
            New postclip
           </button>
          <div  [hidden]="!submitted" class="alert alert-success" role="alert" id="subm">
            Your postclip has been created <a class="alert-link" routerLink="/wall">go to your wall</a>
          </div>
        </form>
      </div>
    </div>
      <div class="col md-6">
      </div>
  </div>
</div>

<!-- <div class="newPostclip">
  <div>
    <h1>Add new clip</h1>
    <form  (ngSubmit)="createPostclip()"  #clipForm="ngForm" >
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" placeholder="Enter the title of Clip"
        name="name" #name='ngModel' [(ngModel)]="postclip.name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" placeholder="Put a short description"
        name="description" #description='ngModel' [(ngModel)]="postclip.description">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input type="text" class="form-control" placeholder="Put a content link"
        name="contentLink" #contentLink='ngModel' [(ngModel)]="postclip.contentLink">
      </div>
    <div class="form-group">
        <br>
        <input type="file" name="file" id="file" class="inputfile" #attachment='ngModel' [(ngModel)]="postclip.attachment"/>
        <label for="file">Attachment</label>
        <br>
      </div> -->
      <!-- <div class="form-group">
        <select name="board">
          <option selected>Choose a board</option>
           <div *ngFor="let board of boards">
            <option value = "{{board.id}}" [(ngModel)]="postclip.board_id">{{board.name}}</option>
          </div>
        </select>
      </div>
      <br>
      <a type="submit" class="btn btn-success btn-lg" href="#" [hidden]="submitted">
         Save
      </a>
    </form>
  </div>
</div> -->
