@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

.newPostclip{
  margin-top: -20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 90% ;
  position: absolute;
  background-image: url( /assets/login/images/fondologin.png );
}
.newPostclip > div{
  width: 70%;
  height: auto;
  position: absolute;
  z-index: 99999;
  border-radius: 10px;
  margin-top: 1%;
  margin-right: 13%;
  margin-left: 13%;
  padding: 2% 2% 2% 2%;
  background: #fff;
  /*background: -moz-linear-gradient(#FFFFFF, #3399FF);
  background: -webkit-linear-gradient(#FFFFFF, #3399FF);
  background: -o-linear-gradient(#FFFFFF, #3399FF);*/
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
  padding: 4px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #3399FF;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.form-group{
  text-align: center;
}
.select{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-border-radius: 4px;
  height: auto;
  width: inherit;
  padding: 5px;
}
.form-control{
  text-align: center;
}
#alert{
    display: none;
}
#subm{
    display: none;
}
