<!--Navbar-->
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="\home">Home</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="\home">Wall <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

<h1>Postclips</h1>
<!-- <div class="container"> -->
    <div class="row">
      <div align="center" class="col-lg-12">
      <a (click)="goToCreatePostclip()" class="board-link list-group-item list-group-item-action flex-column align-items-start">
        <h4 class="list-group-item-heading">New postclip</h4>
        <img src="/assets/clips/images/plus.jpg"  height="250" width="400">
      </a>
      </div>
      <div align="center" class="col-lg-12">
        <span *ngFor="let postclip of postclips">
          <hr>
          <a class="postclip-link list-group-item list-group-item-action flex-column align-items-start">
            <h4 class="list-group-item-heading">{{postclip.name}}</h4>
            <img src="{{postclip.attachment.url}}"  height="250" width="400">
            <h5 class="list-group-item-heading">{{postclip.description}}</h5>
            <button id="button1" class="form-control  " onclick="">Like</button>
          </a>
        </span>
      </div>
  </div>
<!-- </div> -->

<!-- Footer -->
<footer>
    <div align="center" class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; PostClip 2017</p>
        </div>
    </div>
    <!-- /.row -->
</footer>
