<div>

<!--Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<!--Navbar-->
	<div class="row" align="center" style="background-image: url(/assets/login/images/fondologin.png)">
		<br>
    <div class="col-sm-12"></div>
    <div class="col-sm-2"></div>
		<div class="col-sm-3" style="background-color: white;border-radius: 25px;">
      <div class="alert alert-danger" style="display: none" id="avisoLogin">
          <strong>Error!</strong> Please Try again.
      </div>
			<h1>Login</h1>
			<br>
      <img src="/assets/login/images/user.jpg" class="img-responsive" style="width:7em;height:7em;"alt="Cinque Terre">
      <br>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
              <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
              <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">Login</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
      </form>
		</div>

		<div class="col-sm-2"></div>
		<div class="col-sm-3" style="background-color: white;border-radius: 25px;">
      <div class="alert alert-success" style="display: none" id="aviso">
          <strong>Success!</strong> Please Log In.
      </div>
      <div class="alert alert-danger" style="display: none" id="aviso1">
          <strong>Error!</strong> Please Try again.
      </div>
			<h1>Register</h1>
			<br>
      <img src="/assets/login/images/registerUser.png" class="img-responsive" style="width:7em;height:7em;"alt="Cinque Terre">
      <br>
      <form name="form1" (ngSubmit)="f1.form.valid && register()" #f1="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !username.valid }">
              <label for="firstName">Name</label>
              <input type="text" class="form-control" name="firstName" [(ngModel)]="model1.firstName" #firstName="ngModel" required />
              <div *ngIf="f1.submitted && !firstName.valid" class="help-block">First Name is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !username.valid }">
              <label for="lastName">Nick name</label>
              <input type="text" class="form-control" name="nick" [(ngModel)]="model1.lastName" #lastName="ngModel" required />
              <div *ngIf="f1.submitted && !lastName.valid" class="help-block">Last Name is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !name.valid }">
              <label for="username">Email</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="model1.username" #email="ngModel" required />
              <div *ngIf="f1.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !password1.valid }">
              <label for="password1">Password</label>
              <input type="password" class="form-control" name="password1" [(ngModel)]="model1.password" #password1="ngModel" required />
              <div *ngIf="f1.submitted && !password1.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group">
              <button [disabled]="loading1" class="btn btn-primary">Register</button>
              <img *ngIf="loading1" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
          </div>
      </form>
		</div>
		<div class="col-sm-2"></div>
		<br><br>
		<div class="col-sm-8"><br><br><br><br></div>
	</div>
<!--Aqui el footer-->

<!-- Footer -->

<footer>
    <div class="container text-center">
        <p>Copyright &copy; PostClips 2017</p>
    </div>
</footer>

<!-- footer -->

</div>
