<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Postclip</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">My Wall <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="newPostclip">
  <br><br><br><br>
<div class="col-sm-12">
   <div class="col-sm-3"></div>

<div class="col-sm-6" style="  background: #fff;  background: -moz-linear-gradient(#3399FF, #FFFFFF);  background: -webkit-linear-gradient(#3399FF, #FFFFFF);  background: -o-linear-gradient(#3399FF, #FFFFFF);">
  <div align="center">
    <h1>Add new board</h1>
    <form class="form-group" (ngSubmit)="createBoard(board)"  #boardForm="ngForm" >
      <div class="form-group">
        <label for="name">Category</label>
        <input type="text"
            class="form-control"
            placeholder="Category"
            required
            name="name"
            #name='ngModel'
            [(ngModel)]="board.name"
        >
        <div [hidden]="name.valid" id="nameR"
          class="alert alert-danger">
             Title is required
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary btn-lg"
      [disabled]="!boardForm.form.valid"
      [hidden]="submitted">
        New board
       </button>
      <div  [hidden]="!submitted" class="alert alert-success" role="alert" id="subm">
        Your board has been created <a class="alert-link" routerLink="/wall">go to your wall</a>
      </div>
    </form>
  </div>
</div>

  <div class="col-sm-3"></div>

</div>


</div>
