<div class="container">
  <div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start active">
      <h1 class="headline" align="center">Boards</h1>
      <hr>
    </a>
  </div>
</div>


<div class="container">
  <div *ngIf='board'class="card board-card">
    <h1>{{board.name}}</h1>
    <div class="col-md-12">
      <p>Hi {{ board.user }},</p>
    </div>
    <div class="col-md-12">
      <button type="button" (click)="goToCreatePostclip(board)" name="button"></button>
    </div>

  </div>
</div>
<div class="container">
    <div class="row">
      <div align="center" class="col-lg-12">
        <span *ngFor="let postclip of postclips">
          <hr>
          <h4 class="list-group-item-heading">{{postclip.name}}</h4>
          <img src="{{postclip.attachment.url}}"  height="250" width="400">
          <!-- <a (click)="goToShow()" class="postclip-link list-group-item list-group-item-action flex-column align-items-start">
            <h4 class="list-group-item-heading">{{postclip.name}}</h4>
            <img src="{{postclip.attachment.url}}"  height="250" width="400">
            <h5 class="list-group-item-heading">{{postclip.description}}</h5>
            <button id="button1" class="form-control  " onclick="">Like</button>
          </a>-->
        </span>
      </div>
  </div>
</div>

    <!-- Footer -->
    <footer>
     <div align="center" class="row">
         <div class="col-lg-12">
             <p>Copyright &copy; PostClip 2017</p>
         </div>
     </div>
     <!-- /.row -->
    </footer>
